html, body, #root {
  background-color: hsl(0, 100%, 74%);
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: auto;
  max-width: 1112px;
  width: calc(100% - 30px);
  gap: 40px;
  padding: 15px;
}


