$grayish-blue: hsl(246, 25%, 77%);
$dark-blue: hsl(249, 10%, 26%);
$blue: hsl(248, 32%, 49%);
$red: hsl(0, 100%, 74%);


.form-box {
    height: 558px;

    .tryit {
      color: white;
      height: 64px;
      display: flex;    
      align-items: center;
      justify-content: center;
      background-color: $blue;
      border-radius: 10px;
      margin: 0 0 20px 0;
      box-shadow: 0px 6px 5px 3px rgba(0,0,0,0.3);
      text-indent: 5px;
    }
    
    form {
      background: #FFF;
      height: calc(100% - 84px - 80px);
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 9px;
      box-shadow: 0px 6px 5px 3px rgba(0,0,0,0.3);
    
      .form-input {
        input {
            padding: 18px 0;
            font-weight: 500;
            font-size: 0.9em;
            width: 100%;
            border-radius: 5px;
            border: 1px solid $grayish-blue;
            text-indent: 18px;
            transition : border 300ms ease-out;
            outline: none !important;
            background: transparent;

            &::placeholder{
              color: darken($grayish-blue, 40%);            
            }

            &:focus{
              border: 1px solid black;
            }          
          }  

        &.error {                
        
                .error-message {
                    color: $red;
                    text-align: right;
                    font-size: 0.7em;
                    font-style: italic;
                    margin-top: 7px;
                }

                input {
                    color: $red;
                    border: 2px solid $red;
                    outline: none !important;
                    background: url("../../../public/icon-error.svg") no-repeat;
                    background-position: 95% center;


                    &:focus{
                        border: 2px solid $red!important;
                    }
        
                    &::placeholder{
                        color: transparent;
                    }
                }

           
        }

        
      }

      button {
        display: flex;    
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        border: none;
        border-radius: 6px;
        color: white;
        background-color: hsl(154, 59%, 51%);
        font-weight: 500;
        box-shadow: 0px 6px 4px 1px rgba(0,0,0,0.4);
        margin-bottom: 10px;
      }
    }

    .byclicking {
        font-size: 0.7em;
        margin: 0 auto;
        color: $grayish-blue;
        text-align: center;

        a {
            color: $red;
            text-decoration: none;
        }
    }
}
  